.img-logo{
    width: 150px;
}

.padding-section-header{
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.margin-section-user{
    margin-left: 3px;
}

.size-row-header{
    height: 100%;
    /*margin-right: 0px;
    border: 1px solid black;*/
}

.select-user{
    background-color:#143F79;
    color: #ffffff;
    border-color: #143F79;
}

.btn-user{
    background-color:#143F79;
    color: #ffffff;
    border-color: #143F79;
    font-size: 10pt;
}
