<div class="row">
  <div class="col-3" style="border-left: 1px solid #707070;">
    <img class="img-logo" src="https://www.compliance-office.com/srmasset/logo.php"/>
  </div>
  <div class="col">
    <div class="row justify-content-end align-items-center size-row-header">
      <div class="col-auto text-right padding-section-header">
        Grupo Econômico:
      </div>
      <select class="custom-select custom-select-lg col-2 selects color-gray border-no-radius border-blue">
        <option value="v1" selected>Visão Agregada 1</option>
        <option value="v2">Visão Agregada 2</option>
        <option value="v3">Visão Agregada 3</option>              
      </select>
      <div class="col-auto">
        <div class="row margin-section-user">
          <button type="button" class="btn col-1 btn-user border-no-radius"><i class="far fa-user"></i></button>
          <select class="custom-select custom-select-lg col-7 selects select-user border-no-radius">
            <option value="01" selected>Sandra Oliveira</option>
            <option value="02">William Feliciano</option>                  
          </select>
          <button type="button" class="btn btn-primary col-3 border-no-radius">
            <i class="far fa-bell"></i>
          </button>
        </div>              
      </div>
    </div>           
  </div>
</div>      
