<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10">
            <app-header></app-header>
            <app-painel></app-painel>
        </div>
    </div>


</div>


