.input-group{
    padding-top: .9rem;
    padding-bottom: .9rem;
    border-right: 1px solid #707070;
}

.input-group-text{
    background-color: transparent;
    border: none;
}

.input-group-text .fas{
    font-size: 15pt;
}

.form-control{
    text-align: right;
    border: none;
}

.form-control:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.list-group{
    background-color:#143F79;    
    height: 100%;
}

.list-group-item{
    background-color: transparent;
    color: #ffffff;
    border-top: 1px solid #4286f4;
    border-bottom: 1px solid #4286f4;  
    
    overflow: hidden;
    display: table
}

.list-group-flush:first-child .list-group-item:first-child{    
    border-top: none !important;
}

.list-group-flush:last-child .list-group-item:last-child{    
    border-bottom: 1px solid #4286f4;
}

.list-group-item .fas{
    font-size: 25pt;
    float: left;
}

.list-group-item span{    
    display: table-cell; 
    vertical-align: middle; 
    float: none;   
}



