<div class="row">
  <div class="input-group">
    <input type="text" class="form-control border-no-radius" placeholder="Pesquise Aqui" aria-label="Pesquise Aqui" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text border-no-radius" id="basic-addon2"><i class="fas fa-search color-gray"></i></span>
    </div>
  </div>  
</div>

<div class="list-group row list-group-flush">
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-globe"></i> 
    <span>&nbsp;Painel de Gestão</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-at"></i> 
    <span>Conta Digital &nbsp;&nbsp;&nbsp;</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-chart-bar"></i>
    <span>&nbsp;&nbsp;Ant. de Recebíveis</span>
  </a>    
</div>

