<div class="container-fluid painel-interno border-gradient">
  <div class="row">
    <div class="col titulo">
      <span>Atalhos</span>
    </div>
  </div>

  <div class="row">
    <div class="col-8 padding-op">
      <p>Operacional</p>
      <!--<div class="row">-->
        <button type="button" class="btn btn-outline col-5 border-no-radius border-blue">Envio</button>
        <button type="button" class="btn btn-outline col-5 border-no-radius border-blue">Assinatura</button>
        <button type="button" class="btn btn-outline col-5 border-no-radius border-blue">Envio de Duplicatas</button>
        <button type="button" class="btn btn-outline col-5 border-no-radius border-blue">Assinatura Digital</button>
        <button type="button" class="btn btn-outline col-5 border-no-radius border-blue">Nova Operação</button>
      </div>      
    <!--</div>-->
    <div class="col-4 padding-gr">
      <p>Geral</p>
      <!--div class="row">-->
        <button type="button" class="btn btn-outline col border-no-radius border-blue">Carteira</button>
        <button type="button" class="btn btn-outline col border-no-radius border-blue">Instruções</button>
      <!--</div>     --> 
    </div>
  </div>

</div>




  

  