.painel-interno{
    background-color: #ffffff;
    padding-bottom: 30px;
}

.painel-interno .titulo{
    padding-top: 15px;
    padding-bottom: 17px;    
    border-bottom: 1px solid #e9e9e9;
}

.titulo span{
    font-size: 16pt;
    font-weight: normal;
    margin-left: 5px;
}

.padding-op, .padding-gr {
    padding-top: 20px;           
}

.padding-gr{
    border-left: 1px solid #e9e9e9;
    padding-right: 20px;
}

.padding-op p{
    margin-bottom: 0;
    margin-left: 5px;
}

.padding-gr p{
    margin-bottom: 0;
    margin-left: 5px;
}

.painel-interno .btn{
    margin: 5px;    
}