.painel-interno{
    background-color: #ffffff;
    padding-bottom: 50px;    
}

.painel-interno .titulo{
    padding-top: 15px;
    padding-bottom: 17px;    
    border-bottom: 1px solid #e9e9e9;
}

.titulo span{
    font-size: 16pt;
    font-weight: normal;
    margin-left: 5px;
    width: 40%;
}

.titulo div{
    font-size: 10pt;
    width: 60%;
    text-align: right;
}

.frases{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}

.frases .txt{
    margin-top: 3px;
}

.frases .txt-principal{
    margin-top: 3px;
    margin-bottom: 5px;
}

.frases:last-child{
    border-bottom: none;
}

.frases .selects{
    font-size: 10pt;    
    height: calc(1.3em + 0.9rem + 2px);
    padding-top: 5px;
}

