<div class="container-fluid painel-interno border-gradient">
    <div class="row">
        <div class="col titulo d-flex align-items-center">
            <span class="color-blue">Alertas</span>
            <div>Últimos 5 dias</div>
        </div>
    </div>

    <div class="row frases">
        <div class="col-12 txt-principal">
            23 Notas Canceladas
        </div>
    </div>
    <div class="row frases">
        <div class="col-7 txt">
            13 Notas Canceladas
        </div>
        <div class="col-5">
            <select class="custom-select custom-select-lg selects border-blue border-no-radius">
                <option value="v_all" selected>Ações</option>
                <option value="v_inv">Investimentos</option>
                <option value="v_desp">Despesas</option>              
            </select>
        </div>
    </div>
    <div class="row frases">
        <div class="col-7 txt">
            7 Assinaturas Digital
        </div>
        <div class="col-5">
            <select class="custom-select custom-select-lg selects border-blue border-no-radius">
                <option value="v_all" selected>Ações</option>
                <option value="v_inv">Investimentos</option>
                <option value="v_desp">Despesas</option>              
            </select>
        </div>
    </div>
</div>