<div class="row background-painel breadcrumbs">
  <span class="col-auto color-gray">Página Inicial &nbsp; > &nbsp; Painel de Gestão</span>    
</div>
<div class="row background-painel">
  <div class="col-8 section-title">    
    <i class="fas fa-globe float-left"></i>
    <h2 class="float-left">Painel de Gestão</h2>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col text-right padding-section-painel">
        Produto:
      </div>
      <div class="col-6">
        <select class="custom-select custom-select-lg selects border-blue border-no-radius">
          <option value="v_all" selected>Todos</option>
          <option value="v_inv">Investimentos</option>
          <option value="v_desp">Despesas</option>              
        </select>
      </div>
    </div>          
  </div>
</div>
<div class="row background-painel margin-bottom-paineis">
  <div class="col-8">
    <app-atalhos></app-atalhos>
  </div>
  <div class="col-4">
    <app-alertas></app-alertas>      
  </div>
</div>
 
 
