.background-painel{
    background-color: #e9e9e9;
    border: none;
}

.background-painel .section-title{
    padding-bottom: 30px;
}

.selects{
    background-color: transparent;   
}

.padding-section-painel{
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.breadcrumbs{
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.section-title .fa-globe{
    font-size: 30pt;
    color:#143F79;
}

.section-title h2{
    margin-left: 15px;
    font-weight: normal;
    color: #143F79;
}

.margin-bottom-paineis{
    padding-bottom: 15px;
}