/* You can add global styles to this file, and also import other style files */

.border-r{
    border: 1px solid red;
}

.border-b{
    border: 1px solid blue;
}

/* Uso Geral */
.border-no-radius{
    border-radius: 0 !important;
}

.border-blue{
    border: 1px solid #4286f4;
}

.color-blue{
    color:#4286f4;
}

.color-gray{
    color: #707070;
}

.selects{
    height: calc(2.0em + 1rem + 2px);
    font-size: 11pt;
}

.border-gradient{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


